body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
#board {
   /* background-color: skyblue;*/
   background-image: url("flappybirdbg.png");
}
    
#bird
 {
   bird-image: url("flappybird.png");
}